
.body_center{
  margin: auto;
  width: 90%;
  height: 90%;
  border: 3px solid #004a80;
  padding: 10px;
}

.main_header{
  text-align: center;
  color: #004a80;
  }

table{
  width: 100%;
  padding: 10%;
  border: 1px solid #004a80;

  }
  td{
  padding: 10px;
  text-align: left;
  border:1px solid #004a80;
  }
  th{
  padding: 10px;
  text-align: left;
  border:2px solid #004a80;
  }
