body{
  background-color: #173271;
  padding-top: 40px;
  font-family: 'Josefin Slab', serif;
}

h1{
  font-family: 'Lobster', cursive;
}
h2{
  padding-left: 30px;
}

.body_center{
  color: #004a80;
  margin: auto;
  background-color: #FFE8A4;
  width: 75%;
  height: 90%;
  border: 3px solid #004a80;
  padding-top: 50px;
}

.main_header{
  text-align: center;
  color: #004a80;
  }

table{
  width: 100%;
  padding: 5%;
  border-top: 2px solid #004a80;

  }
  td{
  padding: 10px;
  text-align: left;
  border:1px solid #004a80;
  }
  th{
  padding: 10px;
  text-align: left;
  border:2px solid #004a80;
  }
